{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create Group</title>
{#    <link rel="stylesheet" href="{% static 'mainapp/create_group.css' %}">#}
</head>
<body>
    <div class="create-group-popup">
        <form method="post">
            {% csrf_token %}
            <label for="group_name">Group Name:</label>
            <input type="text" id="group_name" name="group_name">
            <h4>Select Members:</h4>
            {% for thread in Threads %}
                <div class="d-flex bd-highlight">
                    <div class="user_info">
                        {% if thread.first_person == user %}
                            <input type="checkbox" name="selected_users" value="{{ thread.second_person.id }}">
                            <label>{{ thread.second_person.username }}</label><br>
                        {% else %}
                            <input type="checkbox" name="selected_users" value="{{ thread.first_person.id }}">
                            <label>{{ thread.first_person.username }}</label><br>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}

            <button type="submit">Create Group</button>
        </form>
    </div>
</body>
</html>