{% extends 'mainapp/base.html' %}
{% load static %}

    <link rel="stylesheet" type="text/css" href="{% static 'mainapp/style.css' %}">
{% block title %} Profile Update {% endblock %}


{% block body_block %}
<div class="">
  <p class="">phone number</p>
  <p class="">Emergency Contact</p>
  <p class="">Name</p>
  <p class="">Email</p>
  <p class="">Address</p>

  <div class="">Save</div>
  <div class="">
{#    <img class="" src="{% static 'assets/frame-17.png' %}">#}
{#    <img class="" src="{% static 'assets/frame-18-mmg.png' %}"/>#}
  </div>
</div>

{% endblock %}