<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ profile_user.username }}'s Profile</title>
</head>
<body>
    <h1>{{ profile_user.username }}'s Profile</h1>
    <p><strong>Username:</strong> {{ profile_user.username }}</p>
    <p><strong>Email:</strong> {{ profile_user.email }}</p>
    {% if request.user != profile_user %}
{#        <p><a href="{% url 'mainapp:chat_app' profile_user.id %}">Message {{ profile_user.username }}</a></p>#}

        <p><a>Message {{ profile_user.username }}</a></p>
    {% endif %}
</body>
</html>
