body {
    background-color: #ffffff; /* White background for the entire page */
}

.contact-form {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f0ebdf; /* Light yellow background for the form */
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.contact-form h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #1a472a; /* Dark green text */
}

.contact-form form {
    display: flex;
    flex-direction: column;
}

.contact-form form label {
    margin-bottom: 5px;
    font-weight: bold;
    color: #1a472a; /* Dark green text */
}

.contact-form form input[type="text"],
.contact-form form input[type="email"],
.contact-form form textarea {
    width: 100%;
    max-width: 450px
;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid rgba(26, 71, 42, 0.2); /* Light green border */
    border-radius: 4px;
    box-sizing: border-box;
}

.contact-form form textarea {
    height: 150px;
}

.contact-form form button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #1a472a; /* Dark green button */
    color: #fff; /* White text */
    cursor: pointer;
}

.contact-form form button:hover {
    background-color: #005418; /* Dark green hover */
}
