
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.login-jLS {
  width: 100%;
  display: flex;
  align-items: center;
  background-color: #f0ebdf;
  box-sizing: border-box;
  padding: 9.6rem 19.983rem 9.6rem 7.3rem;

  .blue-white-leafy-background-vector53876-136080-1-FZg {
    object-fit: cover;
    vertical-align: top;
    border-radius: 0 2rem 2rem 0;
    flex-shrink: 0;
    margin-right: 10.8rem;
    width: 55.5rem;
    height: 83.2rem;
  }
  .auto-group-vxcj-99G {
    height: 71.2833rem;
    position: relative;
    flex-shrink: 0;
    margin-bottom: 0.7167rem;
    width: 50.4167rem;

    .auto-group-edee-4GE {
      height: 3.5rem;
      position: absolute;
      left: 7.2rem;
      top: 38.6rem;
      display: flex;
      align-items: center;
      width: 40.3458rem;

      .enter-password-Bre {
        color: rgba(26, 71, 42, 0.5500000119);
        font-family: Istok Web, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-right: 20.7542rem;
        font-size: 2.4rem;
        font-weight: 400;
        line-height: 1.44;
      }
      .basil-eye-closed-solid-JRU {
        margin-top: 0.1053rem;
        width: 2.6917rem;
        height: 2.4792rem;
        position: relative;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
    }
    .frame-1-S1t {
      padding-left: 1.5rem;
      width: 27.7rem;
      height: 5.5rem;
      position: absolute;
      left: 9.5rem;
      top: 19.3rem;
      border-bottom: solid 0.3rem #1a472a;
      box-sizing: border-box;

      .auto-group-gr5q-m4A {
        width: 100%;
        height: 5.2rem;
        display: flex;
        align-items: center;

        .login-uAN {
          color: #1a472a;
          font-family: Istok Web, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 4.7rem;
          font-size: 3.6rem;
          font-weight: 700;
          line-height: 1.44;
        }
        .signup-dcA {
          font-weight: 700;
          line-height: 1.44;
          color: rgba(26, 71, 42, 0.3899999857);
          font-family: Istok Web, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 3.6rem;
        }
      }
    }
    .or-wcr {
      top: 60.3rem;
      font-size: 2.4rem;
      font-weight: 400;
      line-height: 1.44;
      font-family: Istok Web, 'Source Sans Pro';
      width: 2.7rem;
      height: 3.5rem;
      left: 27.4rem;
      position: absolute;
      color: rgba(26, 71, 42, 0.5500000119);
      white-space: nowrap;
    }
    .flat-color-icons-google-eXG {
      object-fit: contain;
      vertical-align: top;
      width: 3.1667rem;
      height: 3.1667rem;
      position: absolute;
      left: 26.7167rem;
      top: 68.1167rem;
    }
    .auto-group-gy1c-yZY {
      width: 43.2rem;
      font-size: 2.4rem;
      white-space: nowrap;
      height: 5.3rem;
      line-height: 1.44;
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      top: 48.6rem;
      color: #ffffff;
      left: 7.2rem;
      font-weight: 700;
      font-family: Istok Web, 'Source Sans Pro';
      background-color: #1a472a;
    }
    .enter-your-email-efg {
      white-space: nowrap;
      height: 3.5rem;
      position: absolute;
      left: 7.2rem;
      font-weight: 400;
      color: rgba(26, 71, 42, 0.5500000119);
      width: 17.7rem;
      top: 29.8rem;
      font-size: 2.4rem;
      line-height: 1.44;
      font-family: Istok Web, 'Source Sans Pro';
    }
    .line-3-M4J {
      position: absolute;
      left: 7.2rem;
      top: 43.3rem;
      background-color: #1a472a;
      width: 43.2167rem;
      height: 0.3rem;
    }
    .line-2-Uuc {
      left: 7.2rem;
      top: 34.5rem;
      background-color: rgba(26, 71, 42, 0.8666666746);
      width: 43.2167rem;
      height: 0.3rem;
      position: absolute;
    }
    .hello-guyss-DcJ {
      height: 9.3rem;
      position: absolute;
      left: 0;
      top: 0;
      font-size: 6.4rem;
      line-height: 1.44;
      white-space: nowrap;
      width: 10.1rem;
      font-weight: 700;
      color: rgba(26, 71, 42, 0.8999999762);
      font-family: Istok Web, 'Source Sans Pro';
    }
  }
}
