
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.signup-9bk {
  width: 100%;
  height: 102.4rem;

  .signup-uav {
    position: relative;
    box-sizing: border-box;
    padding: 9.6rem 19rem 9.6rem 7.5rem;
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    background-color: #f0ebdf;

    .flatten-1-qUa {
      object-fit: cover;
      vertical-align: top;
      border-radius: 0 6.5rem 6.5rem 0;
      flex-shrink: 0;
      margin-right: 8.6rem;
      width: 59.8rem;
      height: 83.2rem;
    }
    .auto-group-3hwv-jpr {
      flex-direction: column;
      flex-shrink: 0;
      width: 49.1rem;
      height: 100%;
      align-items: center;
      display: flex;

      .welcome-5ti {
        font-size: 6.4rem;
        font-weight: 700;
        line-height: 1.44;
        color: rgba(26, 71, 42, 0.8999999762);
        font-family: Istok Web, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
      .auto-group-g2dc-DEE {
        box-sizing: border-box;
        padding-top: 6.6rem;
        width: 100%;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .title-MbL {
          padding-left: 1.4rem;
          width: 34.1rem;
          height: 5.5rem;
          border-bottom: solid 0.3rem #1a472a;
          flex-shrink: 0;
          margin: 0rem 0rem 6rem 3.4rem;
          box-sizing: border-box;

          .auto-group-xam4-spa {
            height: 5.2rem;
            display: flex;
            align-items: center;
            width: 100%;

            .sign-up-1vn {
              margin-right: 11.2rem;
              font-size: 3.6rem;
              font-weight: 700;
              line-height: 1.44;
              color: #1a472a;
              font-family: Istok Web, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
            }
            .login-jrn {
              font-size: 3.6rem;
              font-weight: 700;
              line-height: 1.44;
              color: rgba(26, 71, 42, 0.3899999857);
              font-family: Istok Web, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
            }
          }
        }
        .details-U3g {
          width: 43.2167rem;
          height: 55.8rem;
          position: relative;
          flex-shrink: 0;

          .auto-group-lequ-13c {
            position: absolute;
            left: 0;
            top: 21.4631rem;
            display: flex;
            align-items: flex-start;
            width: 42.8458rem;
            height: 4.4369rem;

            .enter-password-LLn {
              font-family: Istok Web, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin: 0.937rem 23.254rem 0rem 0rem;
              font-size: 2.4rem;
              font-weight: 400;
              line-height: 1.44;
              color: rgba(26, 71, 42, 0.5500000119);
            }
            .basil-eye-closed-solid-Sei {
              position: relative;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              width: 2.6917rem;
              height: 2.4792rem;
            }
          }
          .auto-group-rbu8-nCn {
            position: absolute;
            align-items: center;
            display: flex;
            flex-direction: column;
            padding: 5rem 0rem 0.317rem 0rem;
            width: 43.2167rem;
            height: 21.5rem;
            left: 0;
            top: 34.3rem;
            box-sizing: border-box;

            .auto-group-i6cn-ryL {
              justify-content: center;
              height: 5.3rem;
              font-size: 2.4rem;
              flex-shrink: 0;
              line-height: 1.44;
              color: #ffffff;
              font-family: Istok Web, 'Source Sans Pro';
              display: flex;
              align-items: center;
              margin: 0rem 0.017rem 1.9rem 0rem;
              width: calc(100% - 0.0167rem);
              background-color: #1a472a;
              font-weight: 700;
              white-space: nowrap;
            }
            .or-8AA {
              flex-shrink: 0;
              margin: 0rem 0.117rem 2.317rem 0rem;
              font-size: 2.4rem;
              font-weight: 400;
              line-height: 1.44;
              color: rgba(26, 71, 42, 0.5500000119);
              font-family: Istok Web, 'Source Sans Pro';
              white-space: nowrap;
            }
            .flat-color-icons-google-ePQ {
              margin-right: 0.0167rem;
              width: 3.1667rem;
              height: 3.1667rem;
              position: relative;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
          }
          .auto-group-hnaz-yga {
            width: 42.8458rem;
            height: 4.5369rem;
            position: absolute;
            left: 0;
            top: 29.0631rem;
            display: flex;
            align-items: flex-start;

            .confirm-password-iPG {
              flex-shrink: 0;
              margin: 1.037rem 20.654rem 0rem 0rem;
              font-size: 2.4rem;
              font-weight: 400;
              line-height: 1.44;
              color: rgba(26, 71, 42, 0.5500000119);
              font-family: Istok Web, 'Source Sans Pro';
              white-space: nowrap;
            }
            .basil-eye-closed-solid-dWE {
              flex-shrink: 0;
              width: 2.6917rem;
              height: 2.4792rem;
              position: relative;
              object-fit: contain;
              vertical-align: top;
            }
          }
          .last-name-aAa {
            width: 11.6rem;
            font-weight: 400;
            line-height: 1.44;
            color: rgba(26, 71, 42, 0.5500000119);
            font-family: Istok Web, 'Source Sans Pro';
            white-space: nowrap;
            height: 3.5rem;
            position: absolute;
            left: 0;
            top: 7.7rem;
            font-size: 2.4rem;
          }
          .first-name-gjQ {
            left: 0;
            top: 0;
            font-size: 2.4rem;
            color: rgba(26, 71, 42, 0.5500000119);
            height: 3.5rem;
            position: absolute;
            line-height: 1.44;
            font-family: Istok Web, 'Source Sans Pro';
            white-space: nowrap;
            width: 11.8rem;
            font-weight: 400;
          }
          .enter-your-email-1Wn {
            line-height: 1.44;
            color: rgba(26, 71, 42, 0.5500000119);
            height: 3.5rem;
            position: absolute;
            left: 0;
            font-size: 2.4rem;
            white-space: nowrap;
            width: 17.7rem;
            top: 14.4rem;
            font-weight: 400;
            font-family: Istok Web, 'Source Sans Pro';
          }
          .line-2-XV8 {
            height: 0.3rem;
            position: absolute;
            left: 0;
            top: 3.5rem;
            background-color: rgba(26, 71, 42, 0.8666666746);
            width: 43.2167rem;
          }
          .line-5-Tta {
            width: 43.2167rem;
            height: 0.3rem;
            position: absolute;
            left: 0;
            top: 26.5rem;
            background-color: #1a472a;
          }
          .line-6-zNi {
            width: 43.2167rem;
            height: 0.3rem;
            position: absolute;
            left: 0;
            top: 34rem;
            background-color: #1a472a;
          }
          .line-3-7y8 {
            background-color: rgba(26, 71, 42, 0.8666666746);
            width: 43.2167rem;
            height: 0.3rem;
            position: absolute;
            left: 0;
            top: 11.2rem;
          }
          .line-4-GLE {
            background-color: rgba(26, 71, 42, 0.8666666746);
            width: 43.2167rem;
            height: 0.3rem;
            position: absolute;
            left: 0;
            top: 18.9rem;
          }
        }
      }
    }
  }
}
